:root {
  --bg-shade: rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43);
  color: #ccc;
}

.search-box {
  width: 400px;
  background-color: var(--bg-shade);
  border-radius: 5px;
  margin: 10px 10px 48px auto;
  gap: 6px;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.search-box input {
  border: 2px solid var(--bg-shade);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  display: block;
  color: inherit;
  font-size: 24px;
  padding: 4px 8px;
  width: 100%;
  height: 40px;
  background-color: var(--bg-shade);
  border-right: none;
}

.search-box input:focus {
  background-color: var(--bg-shade);
}

.button {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
    border: 2px solid var(--bg-shade);
    background-color: var(--bg-shade);
    border-left: none;
    display: flex;
    align-items: center;
}

form {
  display: flex;
  justify-content: end;
}

#form button {
  width: 32px;
  height: 32px;
  margin-right: 2px;
  background-color: var(--bg-shade);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-shade);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffffa4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(204, 204, 204, 0.445);
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

.temp-switch {
  display: flex;
  flex-direction: column;
  font-size: 70%;
  align-self: flex-end;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: end;
}

.switch-container .title {
  font-size: 70%;
}

.current,
.day {
  border-radius: 4px;
  background-color: var(--bg-shade);
  /* border: 1px solid white; */
}

.current {
 align-self: center;
  /* width: 400px; */
  padding: 24px;
}

.day {
  width: 200px;
  height: 200px;

}

.week {
  display: flex;
  padding-top: 48px;
  gap: 20px;
  justify-content: center;
}

.current,
.day {
  display: flex;
  flex-direction: column;
}

.current .loc {
  font-size: 1em;
}

.current .desc {
  font-size: 3em;
  text-transform: capitalize;

}

.highlights {
  display: flex;
  align-items: center;
  font-size: 96px;
  justify-content: center;
}

.highlights img,
.day-highlights img,
.button img {
  width: 100%;
  filter: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(987%) hue-rotate(343deg) brightness(101%) contrast(87%);
}

.lowlights {
  display: flex;
  /* font-size: 2em; */
  justify-content: space-around;
  /* flex-wrap: wrap; */
}

.lowlights h3 {
  /* font-size: 100%; */
  padding-bottom: 12px;
}


.day-desc {
  font-size: 100%;
  text-transform: capitalize;

}

.day-highlights {
  display: flex;
  align-items: center;
  font-size: 48px;
  justify-content: center;
}

.day-lowlights {
  display: flex;
  font-size: 80%;
  justify-content: space-around;
}

.day-lowlights p {
  font-size: 90%;
}

.day {
  padding: 8px;
}

.footer {
  text-decoration: none;
  font-size: 70%;
  margin-top: auto;
  align-self: center;
}

.footer a {
  color: inherit;
}


@media screen and (max-width: 500px) {
  .week {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );

    justify-items: center;
  }

  .current {
    display: grid;
    
  }


}